.vscode/**
.vscode-test/**
.vscode-test-user/**
src/**
test/**
out/**
out-test/**
out-e2e/**
node_modules/**
!dist/**
.gitignore
.eslintrc.json
esbuild.js
tsconfig.json
**/*.map
**/*.ts
assets/icon.svg
scripts/**
*-review-notes-*.html
phase*-review-notes-*.html
*.vsix
